# Created by https://www.toptal.com/developers/gitignore/api/visualstudiocode
# Edit at https://www.toptal.com/developers/gitignore?templates=visualstudiocode

### VisualStudioCode ###
.vscode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

### VisualStudioCode Patch ###
# Ignore all local history of files
.history
.ionide

## make qemu
*.tex 
*.dvi 
*.idx 
*.aux 
*.log 
*.ind 
*.ilg
*/*.o 
*/*.d 
*/*.asm 
*/*.sym
*/_*
fs.img
mkfs/mkfs
user/usys.S
kernel/kernel
user/initcode
user/initcode.out

## cache test
__pycache__
.devcontainer
xv6.out*
.gdbinit

# End of https://www.toptal.com/developers/gitignore/api/visualstudiocode